*{
    box-sizing: border-box;
}

html{
    font-size: 24px;
}

body{
    background-color: rgb(238, 250, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.newspaper{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: white;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 2px 2px rgb(216, 216, 216);
}

.name{
    font-family: 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.name, .author{
    text-transform: uppercase;
}

.date{
    font-size: 1em;
    text-align: center;
    margin-bottom: 20px;
}

.headline{
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10px;
}

.sub-headline{
    font-style: italic;
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 15px;
}

.author{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 20px;
}

.text{
    text-indent: 20px;
    font-size: 1em;
    line-height: 2em;
}

.text::first-letter{
    font-weight: bold;
    font-size: 2em;
}