body{
    background-color: whitesmoke;
}

input:focus, textarea:focus{
    outline: none;
    border-color: blue;
}

input:invalid, select:invalid, textarea:invalid{
    border-color: red;
}

input:valid, select:valid, textarea:valid{
    border-color: green;
}

button:hover{
    appearance: none;
    background-color: green;
}

.radio-group input[type="radio"]:checked{
    border: blue;
    background-color: blue;
    box-shadow: 0 0 5px black;
}

input[type="radio"]:checked + label {
    color: blue;
}

input:first-of-type{
    border-radius: 10px;
}