html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  color: #333;
}

#main {
  background-color: rgb(232, 231, 231);
  margin: 30px 8px;
  padding: 20px;
  border-radius: 5px;
}

#title {
  font-size: 4rem;
  margin-bottom: 0;
}

#img-div {
  background-color: white;
  padding: 10px;
  margin: 0;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-caption {
  padding: 10px;
  line-height: 1.6;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 15px 0;
}

blockquote {
  font-style: italic;
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
}

a {
  color: blue;
}
